section{
    background-color: rgb(179, 179, 179);
}

body{
    background-color: lavender;
}

header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Accueil*/

.collapse{
    margin-right: 9rem;
}

.slide{
    text-shadow: 2px 0 0 rgb(0, 0, 0), 2px 2px 0 rgb(0, 0, 0), 0 2px 0 rgb(0, 0, 0);
}

h5{
    font-family: 'Teko', sans-serif;
}

h2{
    color: white;
    font-family: 'Teko', sans-serif;
    font-size: 3rem;
}