/* Mobile*/

@media screen and (min-width:656px) and (max-width:991px){
    .navbar-brand{
        width: 20rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .test{
        display: block;
        margin-left: auto;
        margin-bottom: auto;
    }

}





/* Site PC*/

section{
    background-color: rgb(179, 179, 179);
}

body{
    background-color: lavender;
}

header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-brand{
    margin-left: 14rem;
}

/*Accueil*/

.collapse{
    margin-right: 9rem;
}

.slide{
    text-shadow: 2px 0 0 rgb(0, 0, 0), 2px 2px 0 rgb(0, 0, 0), 0 2px 0 rgb(0, 0, 0);
}

h5{
    font-family: 'Teko', sans-serif;
}

h2{
    color: white;
    font-family: 'Teko', sans-serif;
    font-size: 3rem;
}